<div class="book-search">
    <div class="search-box">
        <input type="text" name="search" (keyup)="searchTerm.next($event.target.value)" autocomplete="off" placeholder="Search for a Book..." type="search" />
    </div>
    <div class="results">
            <div class="header">
                <div class="title">Results</div>
            </div>
        <div class="container">
            <div class="no-books" *ngIf="!results || !results.length">No Books Found</div>
            <app-book class="books" *ngFor="let book of results" [book]="book" [fullView]="true"></app-book>
        </div>
    </div>
</div>