.search{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    i{
        max-height:8vh;
        max-width:8vw;
        color:#333;
        margin-right:15px;
    }

    input{
        border: solid 1px #ccc;
        padding: 9px 10px 9px 32px;
        width: 15px;
        cursor: auto;
        border-radius: 5px;
        transition: all .5s;
    
        font-size:18px;
        padding:1vh 0vw; 
        background:#fff; 
        border:0 none;
        border:1px solid #636E72;
        outline:none;
        width:10vw;
        padding: 1vh 1vw;
        &:focus{
            width: 25vw;
            color: #000;
            background-color: #fff;
            cursor: auto;
            border-color: #509e2f;
            box-shadow: 0 0 5px rgba(109,207,246,.5);
        }
        &:hover {
            background-color: #fff;
        }
    }
}

.search-results-container{
    width:25vw;
    height:auto;
    max-height:40vh;
    background-color:#DFE6E9;
    position:absolute;
    border-radius:5px;
    top:6.2vh;
    right:22vw;
    box-shadow:0px 2px 5px #636E72;
}