.book{
    display:flex;
    border:1px solid #636E72;
    background-color: #DFE6E9;
    box-shadow:none;
    border-radius:5px;
    padding:1vh 1vw;
    margin:.5vh;
    font-size:1.5vh;
    cursor:pointer;
    &:hover{
        box-shadow: 0px 2px 5px #636E72;
    }

  .id-section{
    width:8%;
  }
  .title-section{
    width:24%;
  }
  .author-section{
    width:24%;
  }
  .isListed-section{
    width: 24%;
  }
  .price-section{
    width: 20%;
  }
}
