<div class="book">
  <span class="id-section">
        <span class="id">{{book.id}}</span>
    </span>
    <span class="title-section">
        <span class="title">{{book.title}}</span>
    </span>
    <span class="author-section">
        <span class="author">{{book.author}}</span>
    </span>
    <span *ngIf="fullView" class="isListed-section">
        <span class="isListed">{{book.isListed}}</span>
    </span>
  <span *ngIf="fullView" class="price-section">
        <span class="price">{{book.price}}</span>
    </span>
</div>
