<div class="home">
  <ul>
    <li>
      <a class="tile"  routerLink="/user">
        <i class="fa fa-5x fa-user"></i>
          <h3>My Profile</h3>
      </a>
    </li>
    <li>
      <a class="tile"  routerLink="/bookSearch">
        <img src="../../assets/images/books.png" />
        <h3>Search Books</h3>
      </a>
    </li>
    <li>
      <a class="tile"  routerLink="/userSearch">
        <i class="fa fa-5x fa-users"></i>
        <h3>Search Users</h3>
      </a>
    </li>
  </ul>
</div>
