<div>
<ul id="rig">
    <li>
        <a class="rig-cell"  routerLink="/user">
            <span class="rig-img" style="background-position:0 0;"></span>
            <h3>My Profile</h3>
            <span class="rig-overlay"></span>
        </a>
    </li>
    <li>
        <a class="rig-cell"  routerLink="/userSearch">
            <span class="rig-img1" style="background-position:0 0;"></span>
            <h3>Search User</h3>
            <span class="rig-overlay"></span>
        </a>
    </li>
    <li>
        <a class="rig-cell"  routerLink="/bookSearch">
            <span class="rig-img2" style="background-position:0 0;"></span>
            <h3>Search Book</h3>
            <span class="rig-overlay"></span>
        </a>
    </li>
</ul>
</div>