<div class="profile">
  <div class="top-bar">
    <div class="info">
      <div class="name">{{isMyProfile ? 'My ' : user.name + '\'s'}} Profile</div>
      <div class="email">{{user.email}}</div>   
    </div>
    
    <button *ngIf="!this.isMyProfile && this.user.id!==this.loggedInUser.id" (click)="openModal(messageContent)">Send Message</button>
  </div>
  <div class="books">
    <div class="book-collection">
      <div class="header">
        <div class="title">Your Book Collection</div>
        <button class="add-button" (click)="openModal(contentBook)">Add</button>
      </div>
      <div class="header-two">
          <span class="title-section">
              <span class="title">Book Title</span>
          </span>
          <span class="author-section">
              <span class="author">Author</span>
          </span>
        <span class="price-section">
              <span class="price">Price</span>
          </span>
  </div>
      <div class="container">
        <div class="no-books" *ngIf="!bookCollection.length">No Books</div>
        <app-book class="books" *ngFor="let book of bookCollection" [book]="book"></app-book>
      </div>
    </div>
    <!-- <div class="interested-in">
      <div class="header">
        <div class="title">Books You Are Interested In</div>
        <button class="add-button">Add</button>
      </div>
      <div class="container">
        <div class="no-books" *ngIf="!booksInterestedIn">No Books</div>
        <app-book class="books" *ngFor="let book of booksInterestedIn" [book]="book" [fullView]="true"></app-book>
      </div>
    </div> -->
  </div>
</div>
<ng-template #contentBook let-modal>
  <div class="modal-body">
    <div class="bookform">
      <form role="form" (submit)="onSubmit()" [formGroup]="bookForm" class="bookform-box">
          <h1>Add Book</h1>
        <label for="title">Title</label>
        <input type="text" [(ngModel)]="book.title"
               class="title" id="title" name="title"
               required  formControlName="title" >
        <label for="authorName">Author Name</label>
        <input type="text" [(ngModel)]="book.author"
               class="authorName" id="authorName" name="authorName"
               required  formControlName="author" >
        <div>
          <input type="checkbox" name="isListed"
                 formControlName="isListed"  class="checkbox" (click)="onCheckboxClick($event)" [(ngModel)]="book.isListed"> List For sale
        </div>
        <label *ngIf=showTextBox>Price</label>
        <input type="text" class="authorName" *ngIf=showTextBox [(ngModel)]="book.price" formControlName="price" >
        <p id="insertinputs"></p>
        <button type="submit"  class="submit">Submit</button>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #messageContent let-modal>
  <div class="modal-body">
    <div class="messageForm">
      <form role="form" (submit)="onMessageSubmit()" [formGroup]="messageForm" class="messageForm-box">
        <h6>Send Message</h6>
        <label for="message_title">Message Input</label><input type="text"
                                                  id="message_title" name="title" class="title"
                                                  required formControlName="message_title" >
        <label for="message_body">Message Description</label><textarea
            id="message_body" name="body" class="body"
            required formControlName="message_body" rows="4" cols="50">
        </textarea>
        <button type="submit" class="submit">Submit</button>
      </form>
    </div>
  </div>
</ng-template>

