<div class="sign-up">
        <div class="sign-up-title">
            <div class="image-container">
                    <img src="../../assets/images/books.png" />
                </div>
                <h1 class="title">UNC Charlotte Book Exchange</h1>    
        </div>
        <div class="sign-up-box">
            <h2>Log In</h2>
            <label>First name</label>
            <input class="text-input" type="text" />
            <label>Last name</label>
            <input class="text-input" type="text" />
            <label>Email</label>
            <input class="text-input" type="text" />
            <label>Password</label>
            <input class="text-input" type="text" />
            <label>Confirm Password</label>
            <input class="text-input" type="text" />
            <input class="submit"  type="submit" />
            <div class="existing-account">Already have an account?&nbsp;<a routerLink="/login">Click here to log in</a></div>
        </div>
    </div>