<h3> List of all Books</h3>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Book Title </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Book Author </th>
      <td mat-cell *matCellDef="let element"> {{element.author}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="isListed">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Available for Sale </th>
      <td mat-cell *matCellDef="let element"> {{element.isListed}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Book Price </th>
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>
    <ng-container matColumnDef="user_email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Book Owner Email Id </th>
      <td mat-cell *matCellDef="let element"> {{element.user.email}} </td>
    </ng-container>
    <ng-container matColumnDef="user_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Book Owner First Name </th>
      <td mat-cell *matCellDef="let element"> {{element.user.name}} </td>
    </ng-container>
    <ng-container matColumnDef="user_lastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Book Owner Last Name </th>
      <td mat-cell *matCellDef="let element"> {{element.user.lastName}} </td>
    </ng-container>
    <ng-container matColumnDef="user_phoneNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Book Owner Phone Number </th>
      <td mat-cell *matCellDef="let element"> {{element.user.phoneNumber}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
