<div class="login">
        <div class="login-title">
            <div class="image-container">
                    <img src="../../assets/images/books.png" />
                </div>
                <h1 class="title">UNC Charlotte Book Exchange</h1>
        </div>
        <div class="login-box">
            <h2>Log In</h2>
          <form role="form" (submit)="onSubmit()">
            <label>Email</label>
            <input class="email" type="email" id="email" name="email" [(ngModel)]="credentials.email"/>
            <label>Password</label>
            <input class="password" type="password" id="password" name="password" [(ngModel)]="credentials.password"/>
            <input class="submit" type="submit"/>
          </form>
            <div class="new-here">New here?&nbsp;<a routerLink="/signup">Click here to sign up</a></div>
        </div>
    </div>
