<div class="header">
    <div class="row-one">
        <a class="title-link" routerLink="">
            <div class="image-container">
                <img src="../../assets/images/books.png" />
            </div>
            <h1 class="title">UNC Charlotte Book Exchange</h1>    
        </a>
        <app-search class="search"></app-search>
        <div class="user">
            <a href="/user" class="user-name">Welcome, Bob</a>
            <a href="" class="logout">Logout</a>
        </div>
    </div>
    <!-- placeholder for menu-->
    <div class="row-two"></div>
</div>